/* .cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  } */
  
  /* .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem 0;
  } */
  
 /*  .actions {
    text-align: right;
  } */
  
  