.deleteModal {
  display: flex;
  width: 100%;
}
.deleteModalMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deleteModalMain h1 {
  margin: 0 0 0 1.5rem;
  font-weight: normal;
}

.deleteModalMain p {
  align-self: center;
  margin: 2rem;
}

.deleteModalMain span {
  font-weight: bold;
}

.actionButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
