.list {
  list-style: none;
  padding: 0;
}

.sorting {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c2fafa;
}