.input {
  display: flex;
  align-items: center;
}

.input label {
  font-weight: bold;
}

.input input {
  line-height: 1.5em;
  width: 40%;
  border-radius: 3px;
  margin-bottom: 1rem;
  background-color: #F6F9FD;
  color: #0EC5BC;
  margin: .3rem 0 2rem 0;
  padding-left: .5rem;
}
